.login-block {
    min-height: 50vh;
}

.login-pop-block {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: -10px 14px 20px 0 rgba(0, 0, 0, 0.2);

}

.login-pop-block-wrapper {
    min-width: 300px;
    right: 22vw;
    top: 16vh;
    position: absolute;
}
form {
    padding: 40px;
}
.buttons-top {

    right: 12vw;
    top: 1vh;
    position: absolute;
}


.login-hero {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00baff;
    opacity: 0.4;

    .intro {
        font-size: 50px;
        font-weight: 300;
    }
    
    .product-name {
        font-size: 90px;
        font-weight: 500;
    }
    
    .slogen-text {
        font-size: 24px;
        font-weight: 500;
    }

}