<div class="row login-block bg-blue-gradient ">
  <div class="buttons-top">
    <button type="button" class="btn btn-secondary" routerLink="/">Return to Home</button>
    <button type="button" class=" ml-2 btn btn-primary">Login</button>
  </div>
  <div class="login-pop-block-wrapper">
    <div class="d-inline-block">
    </div>
    <div class="d-inline-block login-pop-block">
      <img width="400px" src="../../assets/KittyCard-Top.png"/>
      <div>
        <div *ngIf="error" class="alert alert-danger mb-0">{{error}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group"><h5 class="font-weight-bold">Log in</h5></div>
          <div class="form-group">
            <label for="username">Kitty name: </label>
            <input type="text" id="username" formControlName="username" class="form-control"
                   placeholder="Type your kitty name"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Kitty name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Paw word</label>
            <input type="password" id="password" formControlName="password" class="form-control"
                   placeholder="Type your paw word"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Paw word is required</div>
            </div>
          </div>
          <div class="form-group text-right mt-4">
            <img *ngIf="loading" class="pl-2"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <button [disabled]="loading" class="btn btn-primary">Needz Access</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="login-block mt-3 bg-gray-gradient">
</div>


