<nav class="navbar navbar-expand-lg navbar-light bg-cat">
    <a class="navbar-brand" href="#">
        <img width="30" alt="Angular Logo" class="d-inline-block" src="../../assets/bankular_Logo.svg">
        Bankular
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview" href="#">Account Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/credit" href="#">Credit Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Loans</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Stocks</a>
            </li>
      </ul>
      <span *ngIf="user" class="mx-3 font-italic">{{user.prefix}} <span class="font-weight-bold">{{user.firstname}} {{user.lastname}}</span></span>
      <button *ngIf="!user" class="btn btn-primary my-2 my-sm-0" routerLink="/login" type="submit">Login</button>
      <button *ngIf="user" class="btn btn-primary my-2 my-sm-0" (click)="logout()" >Logout</button>
      <!-- <app-login></app-login> -->
    </div>
  </nav>
