
// @import "~bootstrap/scss/bootstrap";

.jumbotron {
    background-image: url("https://placekitten.com/1100/400")
}

.jumbotext{
    background-color:rgba(124, 11, 11, 0.692);
    padding: 4px;
    display: inline-block;
    margin: 0px;
    color: white;
}