<app-top-nav></app-top-nav>
<div class="jumbotron mb-0">
  <div class="container">

          <div class="row">
            <div class="col-sm text-right p0 mr-n5 login-hero">

                <h1 class="jumbotext text-right intro">{{homeContent?.firstText}}</h1>
                <h1 class="jumbotext fatty text-right product-name">{{homeContent?.firstHeading}}</h1>
                <div class="float-right mr-5">
                    <p class="lead jumbotext text-left slogen-text mb-0 mt-0">{{homeContent?.slogenLineOne}}</p>
                    <p class="lead jumbotext text-left slogen-text mb-0 mt-0">{{homeContent?.slogenLineTwo}} </p>
                    <p class="lead jumbotext text-left slogen-text mb-0 mt-0">{{homeContent?.slogenLineThree}}</p>
                </div>
            </div>
            <div class="col-sm p0 m0">
                <img alt="Angular Logo" width="500px" class="d-inline-block align-top" src="../../assets/KittyCard.png" />
            </div>
          </div>

  </div>
</div>

<div class="row bg-blue-gradient justify-content-md-center mt-3 py-5">
  <div class="col-lg-3 py-5">
    <div class="card kitty-card">
      <img src="../../assets/creditCat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Shutup give creditz</h5>
        <p class="card-text">With our newest kittycard you have infinite credits!</p>
        <div class="text-right"><a href="#" class="btn btn-primary text-right">NEED FOOD</a></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card kitty-card">
      <img src="../../assets/loanCat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Needz loan to buy stuff</h5>
        <p class="card-text">Always wanted that awsome car? or build a new house.
          Or just want to have some change for food. We can help you with a loan</p>
        <div class="text-right"><a href="#" class="btn btn-primary">GIMME MONEY</a></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 py-5">
    <div class="card kitty-card">
      <img src="../../assets/stockCat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Like Stockings</h5>
        <p class="card-text">Quit playing like a rookie and use our best invester.</p>
        <div class="text-right"><a href="#" class="btn btn-primary ">BE RICH</a></div>
      </div>
    </div>
  </div>
</div>
