<div class="jumbotron">
  <div class="container">



          <div class="row">
            <div class="col-sm text-right p0 mr-n5">
                <h1 class="jumbotext text-right">The one and only</h1>
                <h1 class="jumbotext fatty text-right">KITTYCARD</h1>

                <p class="lead jumbotext text-secondary text-left ">We will do buisniss with you. We don't care if you are a nigirian prins with gold or someone from the streeds</p>          
            </div>
            <div class="col-sm p0 m0">
                <img alt="Angular Logo" width="500px" class="d-inline-block align-top" src="../../assets/KittyCard.png" />
            </div>
          </div>
  </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Creditcards</h5>
              <p class="card-text">The best there is a small plastic card what will open doors for you. With our newest buy what you want card you have infinite credits!</p>
              <a href="#" class="btn btn-primary">Shutup and let me buy stuff</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Loans</h5>
              <p class="card-text">Always wanted that awsome car? or build a new house. Orjust want to have some change for food. We can help you with a loan</p>
              <a href="#" class="btn btn-primary">Gimmy money!</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Stocks</h5>
              <p class="card-text">Are you playing with rookie numbers and want to cranck them up? you are on the right place! Our best invester are there to help you</p>
              <a href="#" class="btn btn-primary">Make me ritch</a>
            </div>
          </div>
    </div>
  </div>



