
// @import "~bootstrap/scss/bootstrap";

.jumbotron {
   background-color: rgb(228, 228, 228)
}

.jumbotext{
    padding: 4px;
    display: inline-block;
    margin: 0px;
    color: rgb(14, 187, 255);
}

.fatty {
    font-weight: 920;
    font-size: 80px;
}