
// @import "~bootstrap/scss/bootstrap";

.jumbotron {
    background-image: linear-gradient(251deg, #ffffff, #d9d9d9 50%, #ffffff);
}

.jumbotext{
    padding: 4px;
    display: inline-block;
    margin: 0px;
    color: rgb(14, 187, 255);
}

.fatty {
    font-weight: 920;
    font-size: 80px;
}

.kitty-card {
  border: none;
  border-radius: 12px;
  box-shadow: -10px 14px 20px 0 rgba(0, 0, 0, 0.2);

  img {
    border-radius: 12px;
  }
  .card-title{
    color: #626262;
  }
}
