<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 jumbotext">This creditcard is the one you need</h1>
        <p class="lead jumbotext">Just buy what you want The money must flow. And this magic plastic card will help you!</p>
    </div>
  </div>
  <hr/>
  <div class="row">
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Creditcards</h5>
                <p class="card-text">The best there is a small plastic card what will open doors for you. With our newest buy what you want card you have infinite credits!</p>
                <a href="#" class="btn btn-primary">Shutup and let me buy stuff</a>
              </div>
            </div>
      </div>
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Loans</h5>
                <p class="card-text">Always wanted that awsome car? or build a new house. Orjust want to have some change for food. We can help you with a loan</p>
                <a href="#" class="btn btn-primary">Gimmy money!</a>
              </div>
            </div>
      </div>
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="https://placekitten.com/200/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Stocks</h5>
                <p class="card-text">Are you playing with rookie numbers and want to cranck them up? you are on the right place! Our best invester are there to help you</p>
                <a href="#" class="btn btn-primary">Make me ritch</a>
              </div>
            </div>
      </div>
    </div>
  
  
  
  